<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用须知</title>
</head>
<body>
    <div style="width:95%;display:inline;position:fixed;background-color:#FFFFFF;top:0px;left:2.5%;
    border-radius:5px;box-shadow: 5px 5px 3px rgba(0.7,0.7,0.7,0.03);height:8% ">
        <h3 style="text-align:center;font-size:15pt;margin:0;">
            使用须知
        </h3>
    </div>
    <div style="width:100%;display:inline-block">
            <h3 style="white-space:pre-line;font-size: 11pt;font-weight:normal;">
                <b>1.</b> 当患者体内放射性碘-131残留量低于400MBq（即10.8mCi）时,此时患者已经符合中国出院标准，同时也符合国际放射防护委员会和国际原子能机构出院标准。
                <b>2.</b> 出院后患者不需要进行封闭式隔离，但与家庭成员、公众、同事等人群接触时，仍然需要遵循有条件的限制性接触，即距离限制和时间限制。
                <b>3.</b> 接触限制时间估算表中，与家庭成员接触、与儿童接触、与同事接触、睡觉接触的开始时间是指在特定的限制性接触距离和接触时间条件下，每天接触直到放射性碘完全衰变消失时，接触者所受到的累积辐射剂量不可能超过1msv（毫希沃特）的起始接触时间。
                <b>4.</b> 公交、地铁、高铁、飞机等公共交通出行或旅游时，如果单次接触时间或累计接触时间超过限制时间，则应在途中更换座位来分摊辐射暴露剂量，以确保与患者接触的邻座辐射暴露剂量不可能超过1mSv（毫希沃特）。
                <b>5.</b> 如果与家庭成员有多种接触方式，则可以适当延后限制时间1-5天。
                <b>6.</b> 辐射无处不在。我们所生活的地球和宇宙自诞生以来，就存在大量辐射，人类每年受到来自地球和宇宙的辐射剂量约2-3mSv（毫希沃特）；乘坐飞机时，乘客在万米高空所到的宇宙辐射是地面辐射的10-30倍；生活在高辐射剂量地区的居民并没有因高辐射而导致癌症发生率增高和寿命缩短，例如中国广东阳江地区居民每年的辐射剂量为6.4 mSv（超过一次胸透检查的辐射剂量），全世界辐射剂量增高的地区——伊朗拉姆萨尔地区居民每年受到的辐射剂量为260mSv（相当于20次CT检查的辐射剂量）。
                <b>7.</b> 依据中国、国际放射防护委员会和国际原子能机构的辐射防护标准，当与患者接触所受到的辐射剂量低于1 mSv（毫希沃特）时，任何人（包括孕妇和儿童）不会因受到如此低的辐射而导致任何的损害。
                <b>8.</b> 开始时间：是指在特定的限制性接触距离和接触时间条件下，患者何时可以与家庭成员、公众、同事等人群接触的时间，即为限制性接触的开始时间。
                <b>9.</b> 终止时间：是指与患者家庭成员中最小年龄10厘米近距离、长时间接触（<1岁，每天亲密接触时间12小时；1-6岁，每天亲密接触时间8小时；>6岁，每天亲密接触时间4小时）的累积辐射剂量不可能超过1msv（毫希沃特）的时间，即为限制性接触的终止时间。计算终止时间，请选择家庭成员最小年龄段。
                <b>10.</b> 如果甲癌患者出院时，没有测量体内碘-131残留量，则可以按照10.8mci（毫居）进行接触限制时间估算。
                <b>11.</b> 如果甲亢患者在门诊碘-131治疗，则可以将服药量作为残留量进行接触限制时间估算。
                <b>12.</b> 如有疑问，请致电：
                          <b><font color="red">010-53930035、13521138970</font></b>
            </h3>
        </div>
{#    </div>#}
</body>
</html>