<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用须知</title>
</head>
<body>
    <div style="width:95%;display:inline;position:fixed;background-color:#FFFFFF;top:0px;left:2.5%;border-radius:5px;
    box-shadow: 5px 5px 3px rgba(0.7,0.7,0.7,0.03) ">
        <h3 style="text-align:center;font-size:15pt;margin:0">
            使用须知
        </h3>
    </div>

    <div style="width:100%;margin-top:15%;">
        <h3 style="width:5%;font-size: 11pt;display:inline-block;margin:0;vertical-align: top">1.</h3>
        <div style="width:80%;display:inline-block">
            <h3 style="white-space:pre-line;font-size: 11pt;margin:0;font-weight:normal">当患者体内放射性碘-131残留量低于400MBq（即10.8mCi）时,此时患者已经符合中国出院标准，同时也符合国际放射防护委员会（International Commission on Radiological Protection，ICRP）和国际原子能机构（International Atomic Energy Agency，IAEA）出院标准。</h3>
        </div>
    </div>
        <div style="width:100%;">
        <h3 style="font-size: 11pt;width:5%;display:inline-block;margin:0;vertical-align: top">2.</h3>
        <div style="width:80%;display:inline-block">
            <h3 style="white-space:pre-line;font-size: 11pt;margin:0;font-weight:normal">出院后患者不需要进行封闭式隔离，但与家庭成员、公众、同事等人群接触时，仍然需要遵循有条件的限制性接触，即距离限制和时间限制。</h3>
        </div>
    </div>
        <div style="width:100%;">
        <h3 style="width:5%;font-size: 11pt;display:inline-block;margin:0;vertical-align: top">3.</h3>
        <div style="width:80%;display:inline-block">
            <h3 style="font-size: 11pt;white-space:pre-line;margin:0;font-weight:normal">公交、地铁、高铁、飞机等公共交通出行或旅游时，如果超过限制时间，则应在途中更换座位来分摊辐射暴露剂量，以确保与患者接触的邻座辐射暴露剂量不可能超过1mSv(毫希沃特)。</h3>
        </div>
    </div>
        <div style="width:100%;">
        <h3 style="width:5%;font-size: 11pt;display:inline-block;margin:0;vertical-align: top">4.</h3>
        <div style="width:80%;display:inline-block">
            <h3 style="font-size: 11pt;white-space:pre-line;margin:0;font-weight:normal">如果与家庭成员有多种接触方式，则可以适当延后限制时间1-5天。</h3>
        </div>
    </div>
        <div style="width:100%;">
        <h3 style="width:5%;font-size: 11pt;display:inline-block;margin:0;vertical-align: top">5.</h3>
        <div style="width:80%;display:inline-block">
            <h3 style="font-size: 11pt;white-space:pre-line;margin:0;font-weight:normal">开始时间：是指在特定接触距离和接触时间条件下，患者何时可以与家庭成员、公众、同事等人群接触的时间，即为限制性接触的开始时间。</h3>
        </div>
    </div>
        <div style="width:100%;">
        <h3 style="width:5%;font-size: 11pt;display:inline-block;margin:0;vertical-align: top">6.</h3>
        <div style="width:80%;display:inline-block">
            <h3 style="font-size: 11pt;white-space:pre-line;margin:0;font-weight:normal">终止时间：是指与患者家庭成员中最小年龄10厘米近距离、长时间接触（<1岁，每天亲密接触时间12小时；1-6岁，每天亲密接触时间8小时；>6岁，每天亲密接触时间4小时）的累积剂量不可能超过1msv（毫希沃特）的时间，即为限制性接触的终止时间。计算终止时间，请选择家庭成员最小年龄段。</h3>
        </div>
    </div>
        <div style="width:100%;">
        <h3 style="width:5%;font-size: 11pt;display:inline-block;margin:0;vertical-align: top">7.</h3>
        <div style="width:80%;display:inline-block">
            <h3 style="font-size: 11pt;white-space:pre-line;margin:0;font-weight:normal">如果患者出院时，没有测量体内碘-131残留量，则无法计算接触限制时间。如遇此情况，请致电你所在治疗医院核医学科。</h3>
        </div>
    </div>
        <div style="width:100%;">
        <h3 style="width:5%;font-size: 11pt;display:inline-block;margin:0;vertical-align: top">8.</h3>
        <div style="width:80%;display:inline-block">
            <h3 style="font-size: 11pt;white-space:pre-line;margin:0;font-weight:normal">如有疑问，请致电：</h3>
        </div>
    </div>

    <h3 style="text-align:center;font-size:10pt;margin:0px;margin-bottom: 20px;">010-53930035、13521138970</h3>
    </h3>
</body>
</html>